# Лабораторная работа №6

**1**.	Таблица moscow-buildings.csv содержит информацию о годах постройки жилых домов в Москве.

1)	Загрузите базу данных moscow-buildings.csv и сохраните ее как df_build. Удалите из базы данных строки, в которых значения года постройки не указаны («н.д.»), а после превратите столбец house_year в числовой.

2)	Посмотрите на минимальное и максимальное значения года постройки. Разумны ли они? Если нет, уберите из базы данных «странные» значения года постройки. Подсчитайте количество удаленных записей.

3)	Выберите из базы данных строки, соответствующие Басманному району и сохраните их в базу basm_data.

4)	Сгруппируйте данные в базе по районам и посмотрите, сколько домов в базе относятся к каждому району.

5)	Найдите средний возраст дома (возраст – в годах, считаем от текущего года) по каждому району. Подсказка: сначала добавьте переменную house_age («возраст дома»).

6)	Найдите самый старый дом и выведите информацию о нем.

In [ ]:
# 1)
import pandas as pd
from datetime import datetime

currentYear = datetime.now().year

df_build = pd.read_csv('moscow-buildings.csv', index_col=0)
#df_build.info()
rows_before = len(df_build.axes[0])
print(f'Число строк до удаления тех, что содержать "н.д.": {rows_before}')

# Удаляем строки, содержащие "н.д."
df_build = df_build[(df_build.house_year != 'н.д.')]
#df_build.info()
rows_after = len(df_build.axes[0])
print(f'Число строк после удаления тех, что содержать "н.д.": {rows_after}\n'
      f'Число удаленных строк: {rows_before - rows_after}')

# Меняем тип данных столбца house_year
datatypes_before = df_build.dtypes['house_year']
print(f'\nТип данных в столбце house_year до изменений: {datatypes_before}')
df_build = df_build.astype({'house_year': int})
datatypes_after = df_build.dtypes['house_year']
print(f'Тип данных в столбце house_year после изменения в числовой: {datatypes_after}')

In [ ]:
# 2)
# Получаем максимальный и минимальный год постройки зданий
maxValues = df_build['house_year'].max()
minValues = df_build['house_year'].min()
print(f'\nМаксимальный год постройки здания - {maxValues}\n'
      f'Минимальный год постройки здания - {minValues}')
# Год основания Москвы - 1147 [https://www.mos.ru/news/item/22507073/]
df_build_copy = df_build.copy()
# Удаляем строки, содержащие годы постройки до основания Москвы и больше нынешнего года
df_build = df_build.drop(df_build[(df_build['house_year'] < 1147) | (df_build['house_year'] > currentYear)].index)
rows_after_years = len(df_build)
print(f'\nЧисло строк после удаления тех, что содержали некорректные данные в столбце house_year: {rows_after_years}\n'
      f'Число удаленных строк: {rows_after - rows_after_years}')

In [ ]:
# 3)
# Выбираем из базы данных строки, соответствующие Басманному району
#print(df_build['area_name'])
basm_data = df_build_copy.copy()
basm_data = basm_data.drop(basm_data[(basm_data['area_name'] != 'муниципальный округ Басманный')].index)
print(f'\nЧисло строк, содержащих информацию о Басманном районе: {len(basm_data)}')

In [ ]:
# 4)
# Группировка домов по району
grouped = df_build.groupby('area_name')['house_id'].size()
print(f'\nЧисло домов по районам: \n{grouped}')

In [ ]:
# 5)
# Находим средний возраст дома по районам
df_build = df_build.assign(house_age=currentYear - df_build['house_year'])
grouped_age = df_build.groupby('area_name')['house_age'].mean()
print(grouped_age)

In [ ]:
# 6)
# Находим самый старый дом и выводим по нему инфу
oldest = df_build['house_year'].min()
oldest_house = df_build.loc[df_build['house_year'] == oldest]
print('\nИнформация о самом старом доме:\n'
      f'{oldest_house}')

**2.**	Загрузите таблицу titanic.csv и найдите ответы на следующие вопросы. Если ответ нужно приводить в процентах, то это должно быть число в интервале от 0 до 100, округленное до двух знаков, знак процента не нужен.  

1)	Посчитайте долю выживших пассажиров.ok

2)	Какое количество мужчин и женщин ехало на корабле? Определите долю выживших женщин и выживших мужчин.ok

3)	Какую долю пассажиры первого, второго и третьего классов составляли среди всех пассажиров? Определите долю выживших пассажиров каждого класса.ok

4)	 Посчитайте среднее и медиану возраста пассажиров. Посчитайте среднее и медиану возраста выживших и невыживших пассажиров.

5)	Добавьте столбцы FirstNameList с именем пассажира. Обратите внимание, что встречается разный формат хранения имен, в том числе существуют отличия для мужчин и женщин. Имя может быть составное (из нескольких имен) - рассмотрите оба варианта - составное имя целиком и составное имя как отдельные имена. Какое самое популярное женское имя на корабле? Какое самое популярное мужское имя на корабле?

6)	Приведите список уникальных (неповторяющихся, только один человек имеет это имя) имен пассажиров, отдельно мужских и женских. Рассмотрите оба варианта - составное имя целиком и составное имя как отдельные имена. Выведите таблицу с этими пассажирами.

7)	Приведите множество всех имен пассажиров, отдельно мужских и женских. Рассмотрите оба варианта - составное имя целиком и составное имя как отдельные имена.

8)	Приведите список имен, которые одновременно встречаются у мужчин, и у женщин. Решите задачу, если рассматривать составные имена как одно имя, и если рассматривать составные имена отдельно. Выведите таблицу пассажирами, имеющими эти имена.

In [ ]:
import pandas as pd

titanicBase = pd.read_csv("titanic.csv")
print(f'Доля выживших пассажиров равна {round(len(titanicBase[(titanicBase["Survived"] == 1)]) / len(titanicBase) * 100, 2)}')

In [ ]:
#1 Какое количество мужчин и женщин ехало на корабле? Определите долю выживших женщин и выживших мужчин
titanicBase['Sex'].value_counts()

In [ ]:
print(f'Доля выживших мужчин равна {round(len(titanicBase[(titanicBase["Survived"] == 1) & (titanicBase["Sex"] == "male")]) / len(titanicBase[titanicBase["Sex"] == "male"]) * 100, 2)}')
print(f'Доля выживших женщин равна {round(len(titanicBase[(titanicBase["Survived"] == 1) & (titanicBase["Sex"] == "female")]) / len(titanicBase[titanicBase["Sex"] == "female"]) * 100, 2)}')

In [ ]:
titanicBase

In [ ]:
#3. Какую долю пассажиры первого, второго и третьего классов составляли среди всех пассажиров? Определите долю выживших пассажиров каждого класса.
print(f'Доля пассажиров первого класса равна {round(len(titanicBase[(titanicBase["Pclass"] == 1)]) / len(titanicBase) * 100, 2)}. \
Доля выживших пассажиров первого класса равна {round(len(titanicBase[(titanicBase["Survived"] == 1) & (titanicBase["Pclass"] == 1)]) / len(titanicBase[titanicBase["Pclass"] == 1]) * 100, 2)}')
print(f'Доля пассажиров второго класса равна {round(len(titanicBase[(titanicBase["Pclass"] == 2)]) / len(titanicBase) * 100, 2)}. \
Доля выживших пассажиров первого класса равна {round(len(titanicBase[(titanicBase["Survived"] == 1) & (titanicBase["Pclass"] == 2)]) / len(titanicBase[titanicBase["Pclass"] == 2]) * 100, 2)}')
print(f'Доля пассажиров третьего класса равна {round(len(titanicBase[(titanicBase["Pclass"] == 3)]) / len(titanicBase) * 100, 2)}. \
Доля выживших пассажиров первого класса равна {round(len(titanicBase[(titanicBase["Survived"] == 1) & (titanicBase["Pclass"] == 3)]) / len(titanicBase[titanicBase["Pclass"] == 3]) * 100, 2)}')

In [ ]:
# 4. Посчитайте среднее и медиану возраста пассажиров. Посчитайте среднее и медиану возраста выживших и невыживших пассажиров.

def MeanAndMedian(Base):
    meanAge = Base['Age'].agg('mean')
    medianAge = Base['Age'].agg('median')

    return meanAge, medianAge


meanAge, medianAge = MeanAndMedian(titanicBase)
print(f'Средний возраст всех пассажиров равен {round(meanAge, 2)}')
print(f'Медианный возраст всех пассажиров равен {medianAge}')

meanAgeSurvived, medianAgeSurvived = MeanAndMedian(titanicBase[(titanicBase["Survived"] == 1)])
print(f'\nСредний возраст выживших пассажиров равен {round(meanAgeSurvived, 2)}')
print(f'Медианный возраст выживших пассажиров равен {medianAgeSurvived}')

meanAgeUnSurvived, medianAgeUnSurvived = MeanAndMedian(titanicBase[(titanicBase["Survived"] == 0)])
print(f'\nСредний возраст мертвых пассажиров равен {round(meanAgeUnSurvived, 2)}')
print(f'Медианный возраст мертвых пассажиров равен {medianAgeUnSurvived}')

In [ ]:
# 6)	Добавьте столбцы FirstNameList с именем пассажира. Обратите внимание, что встречается разный формат хранения имен, 
# в том числе существуют отличия для мужчин и женщин. Имя может быть составное (из нескольких имен) - рассмотрите оба варианта - 
# составное имя целиком и составное имя как отдельные имена. Какое самое популярное женское имя на корабле? Какое самое популярное мужское 
# имя на корабле?
import numpy as np
import re

def count_duplicates(lst):
    counts = {}  # Создаем пустой словарь для подсчета повторений
    for item in lst:
        if item in counts:
            counts[item] += 1  # Увеличиваем значение для существующего элемента
        else:
            counts[item] = 1  # Добавляем новый элемент в словарь с начальным значением 1

    return counts


def ListSex(Sex):
    ListInParts = []
    passangerID = []
    
    for i, k, c in zip(titanicBase['NameListInParts'], titanicBase['Sex'], titanicBase['PassengerId']):
        for j in i:
            if (len(j) > 1 and k == Sex):
                ListInParts.append(j)
                passangerID.append(c)
                
    return ListInParts, passangerID


def maximumSearchList(List):
    duplicates = count_duplicates(List)
    maximum = 1
    
    for item, count in duplicates.items():
        if count > maximum:
            itemOutput = item
            countOutput = count
            maximum = count
            
    return itemOutput, countOutput


#main
firstNameList = []
SecondNameList = []
OpenBrackets = False

for i, k in zip(titanicBase['Name'], titanicBase['Sex']) :
    NameSplit = i.split(', ')[1].split('. ')[1]
    NameAdd = ""
    NameSplit = re.sub(r'"[\w\s]+"', '', NameSplit)
    NameSplit = re.sub(r'()', '', NameSplit)
    if ("(" in NameSplit and k == "female"):
        for j in NameSplit:
            if (j == ')'):
                if (NameAdd == ""):
                    NameAdd = NameSplit.split('(')[0]
                else:
                    if (' ' in NameAdd):
                        NameAdd = NameAdd[:NameAdd.rfind(' ')]
                OpenBrackets = False
                break
            if (j == '('):
                OpenBrackets = True
            if (OpenBrackets and j != '('):
                NameAdd += j
    else:
        if ("(" in NameSplit):
            NameSplit = NameSplit[:NameSplit.rfind('(')]
        NameAdd = NameSplit
    SecondNameList.append(NameAdd.split(' '))
    firstNameList.append(NameAdd)
    
titanicBase['NameListEntirely'] = firstNameList
titanicBase['NameListInParts'] = SecondNameList

coincidencesNameFemale = next(iter(titanicBase[titanicBase['Sex'] == "female"]['NameListEntirely'].value_counts().to_dict().items()))
print(f'Самое распространенное женское составное имя целиком - \"{coincidencesNameFemale[0]}\", которое встречается {coincidencesNameFemale[1]} раз(а)')
coincidencesNameMale = next(iter(titanicBase[titanicBase['Sex'] == "male"]['NameListEntirely'].value_counts().to_dict().items()))
print(f'Самое распространенное мужское составное имя целиком - \"{coincidencesNameMale[0]}\", которое встречается {coincidencesNameMale[1]} раз(а)')

ListInParts, passangerIDfemaleParts = ListSex('female')
itemOutput, countOutput = maximumSearchList(ListInParts)
print(f"\nСамое распространенное женское составное имя по частям - \"{itemOutput}\", которое встречается {countOutput} раз(а).")

ListInParts, passangerIDmaleParts = ListSex('male')
itemOutput, countOutput = maximumSearchList(ListInParts)
print(f"Самое распространенное мужское составное имя по частям - \"{itemOutput}\", которое встречается {countOutput} раз(а).")

titanicBase.head(50)

In [ ]:
# 6. Приведите список уникальных (неповторяющихся, только один человек имеет это имя) имен пассажиров, отдельно мужских и женских. Рассмотрите оба варианта - составное имя целиком и составное имя как отдельные имена. Выведите таблицу с этими пассажирами.

def count_duplicates(lst):
    counts = {}  # Создаем пустой словарь для подсчета повторений
    for item in lst:
        if item in counts:
            counts[item] += 1  # Увеличиваем значение для существующего элемента
        else:
            counts[item] = 1  # Добавляем новый элемент в словарь с начальным значением 1

    return counts


def ListSex(Sex):
    ListInParts = []
    passangerID = []
    
    for i, k, c in zip(titanicBase['NameListInParts'], titanicBase['Sex'], titanicBase['PassengerId']):
        for j in i:
            if (len(j) > 1 and k == Sex):
                ListInParts.append(j)
                passangerID.append(c)
                
    return ListInParts, passangerID

print('Неповторяющиеся женские имена (целиком):')
coincidencesNameFemale = titanicBase[titanicBase['Sex'] == "female"]['NameListEntirely'].value_counts().to_dict()
listFemaleUnique = []
for item, count in coincidencesNameFemale.items():
    if (count == 1):
        listFemaleUnique.append(item)
print(listFemaleUnique)
print('\nНеповторяющиеся мужские имена (целиком):')
coincidencesNameMale = titanicBase[titanicBase['Sex'] == "male"]['NameListEntirely'].value_counts().to_dict()
listMaleUnique = []
for item, count in coincidencesNameMale.items():
    if (count == 1):
        listMaleUnique.append(item)
print(listMaleUnique)

print('\nНеповторяющиеся женские имена (по частям):')
print(ListInParts)
ListInParts, passangerID = ListSex('female')
print(ListInParts)
ListInParts = count_duplicates(ListInParts)
listInPartsfemale = []
for item, count in ListInParts.items():
        if count == 1:
            listInPartsfemale.append(item)
print(listInPartsfemale)

print('\nНеповторяющиеся мужские имена (по частям):')
ListInParts, passangerID = ListSex('male')
ListInParts = count_duplicates(ListInParts)
listInPartsmale = []
for item, count in ListInParts.items():
        if count == 1:
            listInPartsmale.append(item)
print(listInPartsmale)

In [ ]:
print('\nНеповторяющиеся мужские имена (целиком) таблица:')

titanicBase[titanicBase['NameListEntirely'].isin(listMaleUnique)]

In [ ]:
print('\nНеповторяющиеся женские имена (целиком) таблица:')

titanicBase[titanicBase['NameListEntirely'].isin(listFemaleUnique)]

In [ ]:
print('\nНеповторяющиеся женские имена (по частям) таблица:')

titanicBase[titanicBase['PassengerId'].isin(passangerIDfemaleParts)]

In [1]:
print('\nНеповторяющиеся мужские имена (по частям) таблица:')

titanicBase[titanicBase['PassengerId'].isin(passangerIDmaleParts)]

Неповторяющиеся мужские имена (по частям) таблица:

NameError: name 'titanicBase' is not defined

In [2]:
#7. Приведите множество всех имен пассажиров, отдельно мужских и женских. Рассмотрите оба варианта - составное имя целиком и составное имя как отдельные имена.

In [ ]:
maleCel = []
print ('Все имена мужчин целиком:')
for i, k in zip(titanicBase['NameListEntirely'], titanicBase['Sex']):
    if (k == 'male'):
        maleCel.append(i)
print(maleCel)
femaleCel = []
print ('\nВсе имена женщин целиком:')
for i, k in zip(titanicBase['NameListEntirely'], titanicBase['Sex']):
    if (k == 'female'):
        femaleCel.append(i)
print(femaleCel)

maleChast = []
print ('Все имена мужчин по частям:')
for i, k in zip(titanicBase['NameListInParts'], titanicBase['Sex']):
    for j in i:
        if (k == 'male'):
            maleChast.append(j)
print(maleChast)
femaleChast = []
print ('\nВсе имена женщин целиком:')
for i, k in zip(titanicBase['NameListInParts'], titanicBase['Sex']):
    for j in i:
        if (k == 'female'):
            femaleChast.append(j)
print(femaleChast)

In [3]:
# 8. Приведите список имен, которые одновременно встречаются у мужчин, и у женщин. Решите задачу, если рассматривать составные имена как одно имя, и если рассматривать составные имена отдельно. Выведите таблицу пассажирами, имеющими эти имена.

Listfemale = []
for i, k in zip(titanicBase['NameListEntirely'], titanicBase['Sex']):
    if (k == "female"):
        Listfemale.append(i)
            
Listmale = []
for i, k in zip(titanicBase['NameListEntirely'], titanicBase['Sex']):
    if (k == "male"):
        Listmale.append(i)          
print(f'Количество встреченных повторений по мужским и женским именам целиком {set(Listmale).intersection(Listfemale)}')
print(f'Количество встреченных повторений по мужским и женским именам по частям {set(listInPartsfemale).intersection(listInPartsmale)}')
ListPassangerIdfemale = []
ListNameParts = []
for i, k, c in zip(titanicBase['NameListInParts'], titanicBase['Sex'], titanicBase['PassengerId']):
    for j in i:
        if (len(j) > 1 and k == "female" and j != 'de' and j in listInPartsmale):
            ListPassangerIdfemale.append(c)
            ListNameParts.append(j)
ListPassangerIdmale = []
for i, k, c in zip(titanicBase['NameListInParts'], titanicBase['Sex'], titanicBase['PassengerId']):
    if (k == 'male'):
        for j in i:
            if j in ListNameParts:
                ListPassangerIdmale.append(c)    

titanicBase[titanicBase['PassengerId'].isin(ListPassangerIdfemale) | titanicBase['PassengerId'].isin(ListPassangerIdmale)]